swagger: '2.0'
info:
  description: ITMO.Maps backend server
  version: dev
  title: ITMO.Maps API
host: itmomaps.brilzlian.me
basePath: /v1
tags:
  - name: map
    description: Access to maps
  - name: comments
    description: Managing comments
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /maps:
    get:
      tags:
        - map
      summary: Get all maps
      operationId: getMaps
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MapsView'
  '/map/{mapId}':
    get:
      tags:
        - map
      summary: Get map by id
      operationId: getMap
      parameters:
        - $ref: '#/parameters/MapId'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MapView'
  '/comments/{mapId}/{floorNumber}/{x}/{y}':
    get:
      tags:
        - comments
      summary: Get all comments attached to a coordinate
      operationId: getComments
      parameters:
        - $ref: '#/parameters/MapId'
        - $ref: '#/parameters/FloorNumber'
        - $ref: '#/parameters/CoordinateX'
        - $ref: '#/parameters/CoordinateY'
        - in: body
          name: commentView
          required: true
          description: Comment object for sending to server
          schema:
            $ref: '#/definitions/AddCommentView'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CommentView'
    post:
      tags:
        - comments
      summary: Add a comment
      operationId: addComment
      parameters:
        - $ref: '#/parameters/MapId'
        - $ref: '#/parameters/FloorNumber'
        - $ref: '#/parameters/CoordinateX'
        - $ref: '#/parameters/CoordinateY'
      responses:
        '201':
          description: Created
definitions:
  MapsView:
    type: object
    properties:
      updated:
        type: string
        format: date-time
      maps:
        type: array
        items:
          $ref: '#/definitions/MapCompactView'
  MapCompactView:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
  MapView:
    type: object
    properties:
      name:
        type: string
      pictures:
        type: array
        items:
          $ref: '#/definitions/PictureView'
      objects:
        type: array
        items:
          $ref: '#/definitions/MapObjectView'
  PictureView:
    type: object
    properties:
      floor:
        type: integer
      url:
        type: string
  MapObjectView:
    type: object
    properties:
      coordinates:
        $ref: '#/definitions/CoordinatesView'
      type:
        type: string
      name:
        type: string
      description:
        type: string
  CoordinatesView:
    type: object
    properties:
      x:
        type: integer
      'y':
        type: integer
      floor:
        type: integer
  CommentView:
    type: object
    properties:
      name:
        type: string
      comment:
        type: string
      date:
        type: string
        format: date-time
      type:
        type: string
  AddCommentView:
    type: object
    properties:
      name:
        type: string
      comment:
        type: string
      type:
        type: string
parameters:
  MapId:
    in: path
    name: mapId
    type: integer
    required: true
  FloorNumber:
    in: path
    name: floorNumber
    type: integer
    required: true
  CoordinateX:
    in: path
    name: x
    type: integer
    required: true
  CoordinateY:
    in: path
    name: 'y'
    type: integer
    required: true
